.wrapper {
    width: 100%;
    min-height: 100vh;
}
.left-bar {
    display: inline-block;
    height: 100vh;
    width: 200px;
    background: #000;
    padding-top: 10vh;
}

.left-bar .card {
    margin-bottom: 2vh;
    display: block;
}

.ds-block {
    background: #2aabd2;
    display: inline-block;
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    height: 100vh;
    text-align: center;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}

.ds-content {
    display: inline-block;
    background: #fff;
    vertical-align: middle;
    color: #555;
}
.ds-content.minimize {
    margin-top: 10vh;
    width: 30vw;
    height: calc( 30vw + 50px);
    height: -moz-calc( 30vw + 50px);
    box-shadow: 0px 3px 10px 4px rgba(0,0,0,.125);
    -webkit-box-shadow: 0px 3px 10px 4px rgba(0,0,0,.125);;

}
.ds-сontent svg {
    position: relative;
}
.pointer {
    cursor: pointer;
}
.color-white {
    color:#fff;
}
.greeting {
    padding-left: 30px;
    padding-top: 8vh;
}

svg .label.chart {
    fill: #999;
}
svg .label.chart:hover {
    fill: "#999"
}
.d3-tip {
    line-height: 12px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 110px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    
}
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 12px;
    width: 100%;
    line-height: 0;
    color: rgba(0, 0, 0, 0.6);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
.d3-tip.n:after {
    margin: 2px 0 0 0;
    top: 100%;
    left: 0;
}
.tool_tip {
    opacity: 0;
}
